<div style="font-size: 10px;">
<%= bootstrap_form_for(reserva) do |f| %>

  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <% if reserva.errors.count == 1 %>
        <h2><%= pluralize(reserva.errors.count, "error") %> no te permite enviar este pedido:</h2>
      <% else %>
        <h2><%= pluralize(reserva.errors.count, "errores") %> no te permiten enviar este pedido:</h2>
      <% end %>
      <ul>
      <% reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :nombre , :placeholder => "Ingresa tu nombre", label: "Nombre completo" %>
  </div>

  <div class="field">
    <%= f.text_field :telefono , :placeholder => "Ingresa tu teléfono", label: "Teléfono" %>
  </div>

  <div class="field">
    <%= f.text_field :correo , :placeholder => "Ingresa tu correo electrónico", label: "Correo electrónico" %>
  </div>

  <div class="field">
    <%= f.text_field :direccion , :placeholder => "Ingresa tu dirección. Intenta ser preciso", label: "Dirección" %>
  </div>

  <div class="field">
    <%= f.date_field :dia_evento , label: "Día del evento" %>
  </div>

  <center><h3>Reserva de items</h3></center>

  <h3>Sillas y Mesas</h3><br>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sillas_plastica, :placeholder => "0" , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesas_rectangulares_10_personas,:placeholder => "0" , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesas_redondas_10_personas, :placeholder => "0" , :min => "0" %>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesa_rectangular_4_personas, :placeholder => "0" , :min => "0" %>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesa_alta_de_bar_con_4_sillas_giratorias, :placeholder => "0"  %>
    </div>

     <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :manteles_rectangulares_10_personas, :placeholder => "0" , :min => "0" %>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :manteles_redondos_10_personas, :placeholder => "0" , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sobremanteles_rectangulares_10_personas, :placeholder => "0" , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sobremanteles_redondos_10_personas, :placeholder => "0" , :min => "0" %>
    </div>

  </div>

  <h3>Toldos y Sombrillas</h3>

  <div class="row">

  <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_2_y_medio_x4, :placeholder => "0"  , :min => "0", :label => "Toldo 2.5x4"%>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_3x5, :placeholder => "0"  , :min => "0" %>
    </div>

     <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_5x5, :placeholder => "0"  , :min => "0" %>
    </div>

  </div>


  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_6x4, :placeholder => "0"  , :min => "0" %>
    </div>

     <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_5x8, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_8x8, :placeholder => "0"  , :min => "0" %>
    </div>
  </div>

 <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_12x8, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sombrillas, :placeholder => "0"  , :min => "0" %>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-4">
    </div>

  </div>

  <h3>Vajillas(Cajas de 24 unidades)</h3>

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :vasos_largos, :placeholder => "0"  , :min => "0" %>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :vasos_para_whisky, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :vasos_cerveceros, :placeholder => "0"  , :min => "0" %>
    </div>

  </div>


  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :vasos_cockteleros, :placeholder => "0"  , :min => "0" %>
    </div>
    
     <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :copas_champagneras, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :copas_vino_blanco, :placeholder => "0"  , :min => "0" %>
    </div>

  </div>
  

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :copas_vino_tinto, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :copas_agua, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :jarras_grandes, :placeholder => "0"  , :min => "0" %>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :jarras_medianas, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :jarras_pequenas, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :hieleras_con_pinzas, :placeholder => "0"  , :min => "0" %>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platos_planos_normales, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platos_hondos_normales, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platillos_para_saladitos, :placeholder => "0"  , :min => "0" %>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :panero_para_torta, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :tenedores_y_cuchillos, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :cucharas, :placeholder => "0"  , :min => "0" %>
    </div>    
    
  </div>


  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :cucharillas, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :cucharillas, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :charolitas, :placeholder => "0"  , :min => "0" %>
    </div>
    
  </div>

    <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :ceniceros, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
    </div>
    
  </div>

  <h3>Otros</h3>

  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sillitas_de_ninos, :placeholder => "0"  , :min => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :garzones, :placeholder => "0"  , :min => "0" %>
   </div>

   <div class="col-lg-4 col-md-4 col-sm-4">
   </div>
    
  </div>

    


  <div class="row">
    <div class="col-lg-12">
      <div class="actions">
        <%= f.submit "Enviar Pedido", class: "btn btn-success btn-block" %>
      </div>
    </div>
  </div>
<% end %>
</div>
