<div style="font-size: 10px;">
<%= bootstrap_form_for(reserva) do |f| %>
  <div class="field">
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.text_field :telefono %>
  </div>

  <div class="field">
    <%= f.text_field :correo %>
  </div>

  <div class="field">
    <%= f.text_field :direccion %>
  </div>

  <h3>Reserva de items</h3>

  <br><br>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sillas_plastica, :placeholder => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :cubresillas_con_mona,:placeholder => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesas_rectangulares_10_personas,:placeholder => "0" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :manteles_rectangulares_10_personas, :placeholder => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sobremanteles_rectangulares_10_personas, :placeholder => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesas_redondas_10_personas, :placeholder => "0" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :manteles_redondos_10_personas, :placeholder => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sobremanteles_redondos_10_personas, :placeholder => "0" %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesas_redondas_8_personas, :placeholder => "0" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :manteles_redondos_8_personas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sobremanteles_rectangulares_8_personas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesas_rectangulares_6_personas %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :manteles_rectangulares_6_personas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sobremanteles_rectangulares %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :servilletas %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesas_de_plastico_4_personas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :manteles_4_personas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesa_de_novios %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesa_para_torta %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesitas_de_nino_8_ninos %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mantelitos %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sillitas_de_ninos %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesita_de_ninos_4_ninos %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :sombrillas %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_12x8 %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_8x8 %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_5x8 %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_3x5 %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldos_2x4 %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :alfombra_roja %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :tarimas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :parrillas_grandes %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :parrillas_pequenas %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :garzones %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :carroza %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :juegos_inflables %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :copas_champagneras %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :copas_vino_blanco %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :copas_vino_tinto %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :copas_agua %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :vasos_cerveceros %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :vasos_largos %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :vasos_para_whisky %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :vasos_cockteleros %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :ceniceros %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :hieleras_con_pinzas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :jarras_grandes %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :jarras_medianas %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :jarras_pequenas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :charolas_rectangulares %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :charolas_redondas %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :charolitas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platos_hondos_normales %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platos_planos_normales %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platos_hondos_frances %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platos_planos_frances %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platos_base_frances %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platillos_frances %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :platillos_para_saladitos %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :pescaderas %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :tenedores_y_cuchillos %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :cucharas %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :cucharillas %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :tenedor_torta %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :pirex %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :piezas_para_carne_o_ensalada %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :cucharas_grandes %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :calentadores_de_comida %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :tazas_con_platillos %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :teteras %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :azucareros %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :espatula_para_torta %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :calentador_de_ambiente %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :fuentes_para_bocaditos %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :fuentes_para_bufet %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :toldo_16x8 %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :laterales_por_metro %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :porta_cockey_de_cristal %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesa_de_niños_con_sillitas_hiani_y_mantel_para_10_ninos %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <%= f.number_field :mesa_alta_de_bar_con_4_sillas_giratorias %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="actions">
        <%= f.submit "Enviar Pedido", class: "btn btn-success btn-block" %>
      </div>
    </div>
  </div>
<% end %>
</div>
