<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @reserva.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @reserva.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @reserva.correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @reserva.direccion %>
</p>

<p>
  <strong>Sillas plastica:</strong>
  <%= @reserva.sillas_plastica %>
</p>

<p>
  <strong>Cubresillas con mona:</strong>
  <%= @reserva.cubresillas_con_mona %>
</p>

<p>
  <strong>Mesas rectangulares 10 personas:</strong>
  <%= @reserva.mesas_rectangulares_10_personas %>
</p>

<p>
  <strong>Manteles rectangulares 10 personas:</strong>
  <%= @reserva.manteles_rectangulares_10_personas %>
</p>

<p>
  <strong>Sobremanteles rectangulares 10 personas:</strong>
  <%= @reserva.sobremanteles_rectangulares_10_personas %>
</p>

<p>
  <strong>Mesas redondas 10 personas:</strong>
  <%= @reserva.mesas_redondas_10_personas %>
</p>

<p>
  <strong>Manteles redondos 10 personas:</strong>
  <%= @reserva.manteles_redondos_10_personas %>
</p>

<p>
  <strong>Sobremanteles redondos 10 personas:</strong>
  <%= @reserva.sobremanteles_redondos_10_personas %>
</p>

<p>
  <strong>Mesas redondas 8 personas:</strong>
  <%= @reserva.mesas_redondas_8_personas %>
</p>

<p>
  <strong>Manteles redondos 8 personas:</strong>
  <%= @reserva.manteles_redondos_8_personas %>
</p>

<p>
  <strong>Sobremanteles rectangulares 8 personas:</strong>
  <%= @reserva.sobremanteles_rectangulares_8_personas %>
</p>

<p>
  <strong>Mesas rectangulares 6 personas:</strong>
  <%= @reserva.mesas_rectangulares_6_personas %>
</p>

<p>
  <strong>Manteles rectangulares 6 personas:</strong>
  <%= @reserva.manteles_rectangulares_6_personas %>
</p>

<p>
  <strong>Sobremanteles rectangulares:</strong>
  <%= @reserva.sobremanteles_rectangulares %>
</p>

<p>
  <strong>Servilletas:</strong>
  <%= @reserva.servilletas %>
</p>

<p>
  <strong>Mesas de plastico 4 personas:</strong>
  <%= @reserva.mesas_de_plastico_4_personas %>
</p>

<p>
  <strong>Manteles 4 personas:</strong>
  <%= @reserva.manteles_4_personas %>
</p>

<p>
  <strong>Mesa de novios:</strong>
  <%= @reserva.mesa_de_novios %>
</p>

<p>
  <strong>Mesa para torta:</strong>
  <%= @reserva.mesa_para_torta %>
</p>

<p>
  <strong>Mesitas de nino 8 ninos:</strong>
  <%= @reserva.mesitas_de_nino_8_ninos %>
</p>

<p>
  <strong>Mantelitos:</strong>
  <%= @reserva.mantelitos %>
</p>

<p>
  <strong>Sillitas de ninos:</strong>
  <%= @reserva.sillitas_de_ninos %>
</p>

<p>
  <strong>Mesita de ninos 4 ninos:</strong>
  <%= @reserva.mesita_de_ninos_4_ninos %>
</p>

<p>
  <strong>Sombrillas:</strong>
  <%= @reserva.sombrillas %>
</p>

<p>
  <strong>Toldos 12x8:</strong>
  <%= @reserva.toldos_12x8 %>
</p>

<p>
  <strong>Toldos 8x8:</strong>
  <%= @reserva.toldos_8x8 %>
</p>

<p>
  <strong>Toldos 5x8:</strong>
  <%= @reserva.toldos_5x8 %>
</p>

<p>
  <strong>Toldos 3x5:</strong>
  <%= @reserva.toldos_3x5 %>
</p>

<p>
  <strong>Toldos 2x4:</strong>
  <%= @reserva.toldos_2x4 %>
</p>

<p>
  <strong>Alfombra roja:</strong>
  <%= @reserva.alfombra_roja %>
</p>

<p>
  <strong>Tarimas:</strong>
  <%= @reserva.tarimas %>
</p>

<p>
  <strong>Parrillas grandes:</strong>
  <%= @reserva.parrillas_grandes %>
</p>

<p>
  <strong>Parrillas pequenas:</strong>
  <%= @reserva.parrillas_pequenas %>
</p>

<p>
  <strong>Garzones:</strong>
  <%= @reserva.garzones %>
</p>

<p>
  <strong>Carroza:</strong>
  <%= @reserva.carroza %>
</p>

<p>
  <strong>Juegos inflables:</strong>
  <%= @reserva.juegos_inflables %>
</p>

<p>
  <strong>Copas champagneras:</strong>
  <%= @reserva.copas_champagneras %>
</p>

<p>
  <strong>Copas vino blanco:</strong>
  <%= @reserva.copas_vino_blanco %>
</p>

<p>
  <strong>Copas vino tinto:</strong>
  <%= @reserva.copas_vino_tinto %>
</p>

<p>
  <strong>Copas agua:</strong>
  <%= @reserva.copas_agua %>
</p>

<p>
  <strong>Vasos cerveceros:</strong>
  <%= @reserva.vasos_cerveceros %>
</p>

<p>
  <strong>Vasos largos:</strong>
  <%= @reserva.vasos_largos %>
</p>

<p>
  <strong>Vasos para whisky:</strong>
  <%= @reserva.vasos_para_whisky %>
</p>

<p>
  <strong>Vasos cockteleros:</strong>
  <%= @reserva.vasos_cockteleros %>
</p>

<p>
  <strong>Ceniceros:</strong>
  <%= @reserva.ceniceros %>
</p>

<p>
  <strong>Hieleras con pinzas:</strong>
  <%= @reserva.hieleras_con_pinzas %>
</p>

<p>
  <strong>Jarras grandes:</strong>
  <%= @reserva.jarras_grandes %>
</p>

<p>
  <strong>Jarras medianas:</strong>
  <%= @reserva.jarras_medianas %>
</p>

<p>
  <strong>Jarras pequenas:</strong>
  <%= @reserva.jarras_pequenas %>
</p>

<p>
  <strong>Charolas rectangulares:</strong>
  <%= @reserva.charolas_rectangulares %>
</p>

<p>
  <strong>Charolas redondas:</strong>
  <%= @reserva.charolas_redondas %>
</p>

<p>
  <strong>Charolitas:</strong>
  <%= @reserva.charolitas %>
</p>

<p>
  <strong>Platos hondos normales:</strong>
  <%= @reserva.platos_hondos_normales %>
</p>

<p>
  <strong>Platos planos normales:</strong>
  <%= @reserva.platos_planos_normales %>
</p>

<p>
  <strong>Platos hondos frances:</strong>
  <%= @reserva.platos_hondos_frances %>
</p>

<p>
  <strong>Platos planos frances:</strong>
  <%= @reserva.platos_planos_frances %>
</p>

<p>
  <strong>Platos base frances:</strong>
  <%= @reserva.platos_base_frances %>
</p>

<p>
  <strong>Platillos frances:</strong>
  <%= @reserva.platillos_frances %>
</p>

<p>
  <strong>Platillos para saladitos:</strong>
  <%= @reserva.platillos_para_saladitos %>
</p>

<p>
  <strong>Pescaderas:</strong>
  <%= @reserva.pescaderas %>
</p>

<p>
  <strong>Tenedores y cuchillos:</strong>
  <%= @reserva.tenedores_y_cuchillos %>
</p>

<p>
  <strong>Cucharas:</strong>
  <%= @reserva.cucharas %>
</p>

<p>
  <strong>Cucharillas:</strong>
  <%= @reserva.cucharillas %>
</p>

<p>
  <strong>Tenedor torta:</strong>
  <%= @reserva.tenedor_torta %>
</p>

<p>
  <strong>Pirex:</strong>
  <%= @reserva.pirex %>
</p>

<p>
  <strong>Piezas para carne o ensalada:</strong>
  <%= @reserva.piezas_para_carne_o_ensalada %>
</p>

<p>
  <strong>Cucharas grandes:</strong>
  <%= @reserva.cucharas_grandes %>
</p>

<p>
  <strong>Calentadores de comida:</strong>
  <%= @reserva.calentadores_de_comida %>
</p>

<p>
  <strong>Tazas con platillos:</strong>
  <%= @reserva.tazas_con_platillos %>
</p>

<p>
  <strong>Teteras:</strong>
  <%= @reserva.teteras %>
</p>

<p>
  <strong>Azucareros:</strong>
  <%= @reserva.azucareros %>
</p>

<p>
  <strong>Espatula para torta:</strong>
  <%= @reserva.espatula_para_torta %>
</p>

<p>
  <strong>Calentador de ambiente:</strong>
  <%= @reserva.calentador_de_ambiente %>
</p>

<p>
  <strong>Fuentes para bocaditos:</strong>
  <%= @reserva.fuentes_para_bocaditos %>
</p>

<p>
  <strong>Fuentes para bufet:</strong>
  <%= @reserva.fuentes_para_bufet %>
</p>

<p>
  <strong>Toldo 16x8:</strong>
  <%= @reserva.toldo_16x8 %>
</p>

<p>
  <strong>Laterales por metro:</strong>
  <%= @reserva.laterales_por_metro %>
</p>

<p>
  <strong>Porta cockey de cristal:</strong>
  <%= @reserva.porta_cockey_de_cristal %>
</p>

<p>
  <strong>Mesa de niños con sillitas hiani y mantel para 10 ninos:</strong>
  <%= @reserva.mesa_de_niños_con_sillitas_hiani_y_mantel_para_10_ninos %>
</p>

<p>
  <strong>Mesa alta de bar con 4 sillas giratorias:</strong>
  <%= @reserva.mesa_alta_de_bar_con_4_sillas_giratorias %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
